<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <base href="<%=basePath%>">
    <title>发布博文</title>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <link href="__PUBLIC__/css/default.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/js/themes/default/easyui.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/js/themes/icon.css" />
    <script type="text/javascript" src="__PUBLIC__/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/jquery.easyui.js"></script>
    <script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.all.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/ueditor/themes/default/css/ueditor.css"/>

    <style type="text/css">
        table.gridtable {
            font-family: verdana,arial,sans-serif;
            font-size:11px;
            color:#333333;
            border-width: 1px;
            border-collapse: collapse;
            width:100%;"
        }
        table.gridtable th {
            border-width: 1px;
            border-style: solid;
            border-color: #666666;
        }
        table.gridtable td {
            border-width: 1px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
            text-align:left;
        }

    </style>
</head>

<body>
<form id="addForm"
      method="post" enctype="multipart/form-data">
    <input type="hidden" id="index" name="index" value="" /> <br/>
    <div id="addDiv">

        <div style="margin-left:10px; margin-right:10px; margin-top:10px; " >
            <input type="text" name="id" id="id" value = "${id }" style="height:20px;margin:3px 0;display:none"
                   class="textbox" >
            <input type="text" name="concount" id="concount" value = "${concount }"  style="height:20px;margin:3px 0;display:none"
                   class="textbox" >
            <input type="text" name="acttype" id="acttype" value = "${acttype }" style="height:20px;margin:3px 0;display:none"
                   class="textbox" >
            <input type="text" name="redpacket_type" id="redpacket_type" value = '1' style="height:20px;margin:3px 0;display:none"
                   class="textbox" >
            标 题：<input type="text" name="title" id="title" style="width:220px;height:20px;margin:3px 0"
                        class="easyui-validatebox"  >&nbsp;&nbsp;
            <br />	<br />
            关键词：<input type="text" name="keywords" id="keywords" style="width:200px;height:20px;margin:3px 0"
                        class="easyui-validatebox">&nbsp;&nbsp;
            <br />	<br />

            作 者：<input type="text" name="author" id="author" style="width:200px;height:20px;margin:3px 0"
                       class="easyui-validatebox"  >&nbsp;&nbsp;
            <br />	<br />
            来 源：<input type="text" name="origin" id="origin" style="width:200px;height:20px;margin:3px 0"
                       class="easyui-validatebox"  >&nbsp;&nbsp;
            <br />	<br />
            上传缩略图：
            <input type="text" placeholder="" class="m-wrap large" id="txt2" name="image" />
            <a href="JavaScript:void(0);"  onmousemove="fileToUpload.style.pixelLeft=event.x-60;fileToUpload.style.pixelTop=this.offsetTop;" onclick="fileToUpload.click()"> <input type='button' class='btn1' value='浏览图片' /></a>
            <input type="file" id="fileToUpload" name="image" onchange="txt2.value=this.value" style="position:absolute;filter:alpha(opacity=0);-moz-opacity:0;display:none;" size="1" hidefocus />
            &nbsp;&nbsp;
            <br />	<br />

            <table>
                <tr>
                    <td align="left" valign="top" >文章摘要：</td>
                    <td align="left" valign="top" ><label>
                        <textarea name="simple" id="simple" cols="45" rows="5" style="width:710px; height:130px;"></textarea>
                    </label></td>
                </tr>
            </table>
            <br />	<br />
            <script type="text/plain" id="Vent" style="width:500px;"></script>
        </div>


    </div>
    <br />
    <center><a id="btn" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-save'" onclick = "saveActivity();">保存</a></center>
</form>
<script type="text/javascript">
    var editor = new baidu.editor.ui.Editor({
        //toolbars:[['Spechars','Emotion','InsertImage','Bold','Italic','ForeColor','FontFamily','FontSize', ]],//自定义ueditor工具栏
        //initialContent: '<span style="color:#ccc">点击这里发泄吧</span>',
        // minFrameHeight: 100,//初始化框架大小
        autoFloatEnabled: false,//工具栏自动浮动-》关闭
        textarea:'myVent'//form表单将通过该参数获得表单提交的数据
    });
    editor.render("Vent");

    function saveActivity(){
   /*     $.post('{:U('Admin/Content/add_artical')}', $("#addForm").serialize(), function(data){
            console.log(data);
            if(!data.status){
                $.messager.alert('提示信息', data.info, 'error');
                changeCode();
            }else{
                //$.messager.progress({text:'加载中，请稍候...'});
                window.location.href = data.url;
            }
        },'json');*/
        $('#addForm').submit();
    }
    $('#addForm').form({
                url:'{:U('Admin/Content/add_artical')}',
            onSubmit:function(){
        return $(this).form('validate');
    },
    success:function(data){
        alert(data);
    }
    });
</script>
</body>


</html>